.lan-select-container{
    width: 90px;
    height: 100%;
    /* border: 2px solid red; */
    margin-left: -55px;
    /* outline-style: dashed; */
    /* outline-color: #17a2bc; */
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}

.lan-select-op1{
display: flex;
align-items: center;
justify-content: center;
}

.lan-select-im1{
    width:50px;
    height: 40px;
    /* width: 100%;
    height: 100%; */
}

@media screen and (max-width: 426px){

    .lan-select-container{
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 4px;
        margin-left: 0px;
        /* outline-style: dashed; */
        /* outline-color: #17a2bc; */
        outline: none;
        /* border: none; */
        display: flex;
        align-items: center;
       
        font-size: 12px;
    }
}