.navbarmenu-icon-box{
    width: 40px;
    height: 40px;
}

.navbarmenu-icon{
    width: 100%;
    height: 100%;
    color:  #17a2b8;
}


@media screen and (max-width:426px){

    .MuiMenu-paper {
        left: 45px !important;
        width: 398px !important;
        top: 34px !important;
    }
} 